html {
  background: #f7efe4;
  color: #021335;
}

/* * {
  border: .0625em dotted blue;
}
*/

main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px 10px;
}

.no-bullet {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #021335;
}

.red-text {
  color: #f60b69
}

.app-header {
  box-sizing: border-box;
  /* border: 1px solid green; */
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0 6px;
  margin: 0;
}

.app-header--left {
  width: 256px;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid pink; */
}

.org-name {
  margin: 0;
  padding: 0;
  left: 0;
  width: 95px;
  /* border: 1px dashed pink; */
}

.app-name {
  width: 100px;
  /* border: 1px dashed pink; */
  font-size: larger;
  font-weight: bolder;
}

.app-header--middle {
  width: 1544px;
  ;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.app-header--messages {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 55px;
  padding: 0 0px;
  margin: 3px 20px;
  /* color:rgb(233, 241, 244); */
  /* background-color: #cdd8eb; */
  /* border: 2px solid blue; */
  font-weight: bolder;
  /* text-align: center; */
  /* vertical-align: middle; */
}

.app-header--messages.HIDE {
  display: none;
}

.app-header--right {
  height: 64px;
  width: 100px;
  /* border: 1px solid orange; */
}


.header,
.row {
  display: flex;
  align-items: center;
}

.col {
  display: 1;
  text-align: start;
  line-height: auto;
}

.inline {
  display: inline-block;
}

.App {
  text-align: center;
  margin: 10px 10px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  line-height: 2.5rch;
}

.member-row {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  line-height: 2vh;
  font-size: medium;
}


.member-row:hover {
  background-color: #baeef4;
}

.member-row>* {
  padding: 9px 0 0 0;

}

.member-row--name {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 300px;
  font-size: large;
}

.member-row--address {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 500px;
}

.member-row--phone {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 120px;
}

.member-row--email {
  display: inline;
  text-align: left;
  width: 330px;
  /* border: 1px dashed blue; */
}

.member-row--paid-through {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 10rem;
}

.member-row--mmb {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 3rem;
}

.member-row--tools {
  display: inline;
  text-align: left;
  width: 20px;
  /* border: 1px dashed blue; */
}

.member-row--menu {
  background: #baeef4;
  text-align: left;
  /* border: 1px dotted pink; */
}

.member-row--header {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  border: 1px dotted purple;
  font-weight: 700;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 15px;
  left: -120px;
  background-color: #baeef4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 12px;
  z-index: 1;
}

.dropdown-content div:hover {
  background-color: #f7efe4;
  ;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.member-form {
  display: flex;
  flex-direction: column;
  /* max-width: 90vw; */
  /* margin: 0 0 0 40px; */
}

.member-form--controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.member-form input {
  margin: 10px;
  padding: 0 10px;
  line-height: 1.5em;
  font-size: larger;
  border-color: #e0e3e5;
}

.member-form input.red-border {
  margin: 10px;
  padding: 0 10px;
  line-height: 1.5em;
  font-size: larger;
  border-color: #f60b69;
}

.width-narrow {
  width: 50px;
}

.width-medium {
  width: 300px;
}

.width-wide {
  width: 500px;
}

.width-date {
  width: 125px;
}

.width-mmb {
  width: 50px;
}

.width-phone {
  width: 300px;
}

.readonly-input {
  color: #021335;
  background-color: #efefef;
  border-width: 0;
}

.member-form--contact-group {
  /* margin: 0 0 0 30%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px dashed blue; */
}

.member-form--contact-group>label {
  padding: 14px 0 0 0;
}

.member-form--mmb-group {
  /* margin: 20px 0 0 0; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1em;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  /* align-items: left; */
  /* border: 1px dashed blue; */
}

.member--mmb-wrapper,
.member--paid-through-wrapper,
.member--joined-wrapper,
.member--last-updated-wrapper,
.member--active-wrapper,
.member--post-mail-wrapper,
.member--email-status-wrapper,
.member--newsletter-status-wrapper {
  display: flex;
  /* flex-direction: column; */
  /* border: 1px dashed red; */
  /* align-items: left; */
  /* text-align: left; */
}

.member--mmb-wrapper label,
.mmb-group--label {
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 1px dashed red; */
  /* align-items: left; */
  text-align: center;
  /* padding: 0 0 0 1em;
 */

}

.mmb-group--status-views {
  display: grid;
}

.existing-member--mmb label {
  width: 100%;
  margin: 0 0 0px 0;
  padding: 0px 0 0px 0;
  top: 0%;
  /* border: 1px dashed pink; */
}

.existing-member--paid-through label {
  width: 100%;
  height: 20px;
  margin: 0 0 0px 0;
  padding: 0px 0 0px 0;
  top: 0%;
  /* border: 1px dashed pink; */
}

.existing-member--joined label {
  width: 100%;
  height: 20px;
  margin: 0 0 0px 0;
  padding: 0px 0 0px 0;
  top: 0%;
  /* border: 1px dashed pink; */
}

.existing-member--last-updated label {
  width: 100%;
  height: 20px;
  margin: 0 0 0px 0;
  font-weight: normal;
  padding: 0px 0 0px 0;
  top: 0%;
  /* border: 1px dashed pink; */
}


.data-box {
  display: inline-block;
  margin: 0 0 0 8px;
  min-width: 12em;
  min-height: 28px;
  font-weight: normal;
  ;
  background-color: #e6e1e1;
  text-align: start;
  padding: 4px 0 0 8px;
  font-size: large;
  border: 1px solid #e0e3e5;
  border-style: inset;
}

.member-form--nav ul {
  display: flex;
  /* flex-direction: row;  */
  flex: 40px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.member-form--money-group {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 12px 0 0 0;
}

.member-form--voulunteer-preferences {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.member-form--volunteer-preferences li {
  display: inline-block;
  width: 12em;
}

.form--other {
  display: inline-block;
  width: 12em;
}

.new-member--other {
  display: flex;
  width: 200px;
}

.group {
  margin: 16px 0 0 0;
  border: 1px dashed #021335;
}

.notes-row--header {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  font-weight: 700;
}

.notes-row {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  line-height: 2vh;
  font-size: medium;
}

.notes-row--date {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 200px;
  font-size: large;
}

.notes-row--note {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 1200px;
  font-size: large;
}

.remits-row--header {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  font-weight: 700;
}

.remits-row {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  line-height: 2vh;
  font-size: medium;
}

.remits-row--date {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 200px;
  font-size: large;
}

.remits-row--amount {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 200px;
  font-size: large;
}

.remits-row--memo {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 300px;
  font-size: large;
}

.list-search-container {
  border: 1px dashed blue;
}

.fm-dd {
  border: 1px dashed blue;
}

.fm-dd--item {
  border: 1px dashed blue;
}

.basic-button {
  background: rgb(186, 244, 221);
  border-width: 0;
  filter: drop-shadow(3px 3px .5px rgb(221, 186, 244));
  border-radius: 1.009em;
  padding: .7em .9em;
  font-weight: 550;
  font-size: 1.1em;
  min-width: 8em;
  color: rgba(2, 19, 53, .5);
}

.list-row-button,
.member-row--header--new-btn {
  background: #e7f5f4;
  border-width: 0;
  filter: drop-shadow(3px 3px .5px rgb(221, 186, 244));
  border-radius: 1.009rem;
  padding: .1em .3em;
  font-weight: 900;
  margin: 0;
}

input[type='text'],
input[type='telephone'],
input[type='email'] {
  border-radius: 1.009em;
  background-color: #ebf4f0;
}

.member-form--name-group {
  /* border: 1px dashed red; */
  display: flex;
  /* grid-template-columns: 1fr, 1fr; */
  /* position: relative; */
  /* width: 100%; */
  /* align-items: stretch; */
  /* justify-content: space-between; */
  /* flex: 1; */
  /* align-content: center; */
  /* flex-direction: row; */
  /* flex-wrap: no-wrap; */
}

.member-form--firstName-wrapper,
.member-form--lastName-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* .member-form--firstName-wrapper label,
.member-form--lastName-wrapper label {
  /* border: 1px dotted blue; */
/*} */

#first-name--label,
#first-name-error--label,
#last-name--label,
#last-name-error--label,
.form-label {
  width: 7em;
  position: relative;
  /* text-align: center; */
  top: 30%;
  border: none;
}

#first-name-input-wrapper,
#first-name-error-wrapper,
#last-name-input-wrapper,
#last-name-error-wrapper {
  display: flex;
}

.member-form--firstName-wrapper input,
.member-form--lastName-wrapper input {
  border: 1px dotted white;
  /* width: 25em; */
}


.member-form--address-group,
.member-form--address,
.member-form--address-unit {
  display: flex;
  flex-grow: 1;
}

.member-form--region,
.member-form--region>div,
.member-from--state-zip,
.member-from--state-zip>div {
  display: flex;
  flex: 1;
  /* flex-direction: row;
  flex: 1; */
}

.member-form--address-state {
  max-width: 300px;
}

.member--state {
  border-color: #e0e3e5;
  border-radius: 1.009em;
  background-color: #ebf4f0;
}

.member-form--address-zip {
  max-width: 330px;
}

.member-form--contact-group,
.member-form--contact-group>div {
  display: flex;
  flex: 1;
}

.member-form--page-title {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  color: #4ae3f4;
}

/*.member-form--post-group>div {
  display: flex;
}
*/


.mmb-group--status-views {
  background-color: rgba(247, 229, 227, 1);
  /* TODO fix me */
  margin-top: 0;
  border-radius: 1.009em;

  /* border: 1px dotted red; */
}


.newsletter-label {
  width: 7em;
  top: 15%;
}

.playground {
  background-color: rgba(186, 244, 221, .7);
}

.modal-fm--message {
  font-weight: 500;
  font-size: larger;
  width: 20em;
  padding: 3em;
}

.modal-fm--buttons-container {
  padding: 1em;
  /* background-color: #021335; */
}

.modal-fm--buttons-container>button {
  margin: 0 1.4em;
  /* background-color: #021335; */
}

.us-states--dropdown,
.state--dd {
  width: 20em;
}

.post-mail--status {
  border: 3px dotted dodgerblue;
  width: 10em;
  color: #021335;
  background-color: #efefef;
  border-width: 0;
  border-radius: 1.009em;
  line-height: .75em;
  height: .75em;
  margin: 0;
}

.post-mail--status div[class*='control'] {
  border: 3px dotted dodgerblue;
  width: 10em;
  padding: 0;
  margin: 0;
  color: #021335;
  background-color: #efefef;
  border-width: 0;
  border-radius: 1.009em;
  line-height: 1.2em;
  font-size: 1.2em;
  /* height: .45em; */
}

.post-mail--status div[class*='Input'] {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 2em; */
  /* line-height: 1.2em; */
}