html {
  background: #f7efe4;
  color: #021335;
}

main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px 10px;
}

.no-bullet {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #021335;
}

.red-text {
  color: #f60b69
}

.app-header {
  box-sizing: border-box;
  /* border: 1px solid green; */
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0 6px;
  margin: 0;
}

.app-header--left {
  width: 256px;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid pink; */
}

.org-name {
  margin: 0;
  padding: 0;
  left: 0;
  width: 95px;
  /* border: 1px dashed pink; */
}

.app-name {
  width: 100px;
  /* border: 1px dashed pink; */
  font-size: larger;
  font-weight: bolder;
}

.app-header--middle {
  width: 1544px;
  ;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.app-header--messages {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 55px;
  padding: 0 0px;
  margin: 3px 20px;
  /* color:rgb(233, 241, 244); */
  /* background-color: #cdd8eb; */
  border: 2px solid blue;
  font-weight: bolder;
  /* text-align: center; */
  /* vertical-align: middle; */
}

.app-header--messages.HIDE {
  display: none;
}

.app-header--right {
  height: 64px;
  width: 100px;
  /* border: 1px solid orange; */
}


.header,
.row {
  display: flex;
}

.col {
  display: 1;
}

.App {
  text-align: center;
  margin: 10px 10px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  line-height: 2.5rch;
}

.member-row {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  border: 1px dotted purple;
  line-height: 2vh;
  font-size: medium;
}


.member-row:hover {
  background-color: #bff1f4;
}

.member-row>* {
  padding: 9px 0 0 0;

}

.member-row--name {
  display: inline;
  border: 1px dashed blue;
  text-align: left;
  min-width: 300px;
  font-size: large;
}

.member-row--address {
  display: inline;
  border: 1px dashed blue;
  text-align: left;
  min-width: 500px;
}

.member-row--phone {
  display: inline;
  border: 1px dashed blue;
  text-align: left;
  min-width: 120px;
}

.member-row--email {
  display: inline;
  text-align: left;
  width: 330px;
  border: 1px dashed blue;
}

.member-row--paid-through {
  display: inline;
  border: 1px dashed blue;
  text-align: left;
  min-width: 10rem;
}

.member-row--mmb {
  display: inline;
  border: 1px dashed blue;
  text-align: left;
  min-width: 3rem;
}

.member-row--tools {
  display: inline;
  text-align: left;
  width: 20px;
  border: 1px dashed blue;
}

.member-row--menu {
  background: #edeeec;
  text-align: left;
  border: 1px dotted pink;
}

.member-row--header {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  border: 1px dotted purple;
  font-weight: 700;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 15px;
  left: -120px;
  background-color: #bff1f4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 12px;
  z-index: 1;
}

.dropdown-content div:hover {
  background-color: rgb(247, 239, 228);
  ;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: cornsilk;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
}

.member-form {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: 0 0 0 40px;
}

.member-form--controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.member-form input {
  margin: 10px;
  padding: 0 10px;
  line-height: 1.5em;
  font-size: larger;
  border-color: #e0e3e5;
}

.member-form input.red-border {
  margin: 10px;
  padding: 0 10px;
  line-height: 1.5em;
  font-size: larger;
  border-color: #f60b69;
}

.width-narrow {
  width: 50px;
}

.width-medium {
  width: 300px;
}

.width-wide {
  width: 500px;
}

.width-date {
  width: 125px;
}

.width-mmb {
  width: 50px;
}

.width-phone {
  width: 300px;
}

.readonly-input {
  color: #021335;
  background-color: #efefef;
}

.member-form--contact-group {
  /* margin: 0 0 0 30%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px dashed blue; */
}

.member-form--contact-group>label {
  padding: 14px 0 0 0;
}

.member-form--mmb-group {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px dashed blue; */
}

.existing-member--mmb label {
  width: 100%;
  margin: 0 0 0px 0;
  padding: 0px 0 0px 0;
  top: 0%;
  /* border: 1px dashed pink; */
}

.existing-member--paid-through label {
  width: 100%;
  height: 20px;
  margin: 0 0 0px 0;
  padding: 0px 0 0px 0;
  top: 0%;
  /* border: 1px dashed pink; */
}

.existing-member--joined label {
  width: 100%;
  height: 20px;
  margin: 0 0 0px 0;
  padding: 0px 0 0px 0;
  top: 0%;
  /* border: 1px dashed pink; */
}

.existing-member--last-updated label {
  width: 100%;
  height: 20px;
  margin: 0 0 0px 0;
  font-weight: normal;
  padding: 0px 0 0px 0;
  top: 0%;
  /* border: 1px dashed pink; */
}


.data-box {
  display: inline-block;
  margin: 0 0 0 8px;
  min-width: 12em;
  min-height: 28px;
  font-weight: normal;
  ;
  background-color: #e6e1e1;
  text-align: start;
  padding: 4px 0 0 8px;
  font-size: large;
  border: 1px solid #e0e3e5;
  border-style: inset;
}

.member-form--nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.member-form--money-group {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 12px 0 0 0;
}

.member-form--voulunteer-preferences {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.member-form--volunteer-preferences li {
  display: inline-block;
  width: 12em;
}

.form--other {
  display: inline-block;
  width: 12em;
}

.new-member--other {
  display: flex;
  width: 200px;
}

.group {
  margin: 16px 0 0 0;
  border: 1px dashed #021335;
}

.notes-row--header {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  font-weight: 700;
}

.notes-row {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  line-height: 2vh;
  font-size: medium;
}

.notes-row--date {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 200px;
  font-size: large;
}

.notes-row--note {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 1200px;
  font-size: large;
}

.remits-row--header {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  font-weight: 700;
}

.remits-row {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  /* border: 1px dotted purple; */
  line-height: 2vh;
  font-size: medium;
}

.remits-row--date {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 200px;
  font-size: large;
}

.remits-row--amount {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 200px;
  font-size: large;
}

.remits-row--memo {
  display: inline;
  /* border: 1px dashed blue; */
  text-align: left;
  min-width: 300px;
  font-size: large;
}